.App {
  text-align: center;
  padding: 52px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
 
}
.follow-wrap {
  width: 250px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 font-size: 21px;
}

.username-img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  height: 250px;
  padding: 48px;
  border: 1px solid seagreen;
 
}

.card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}

.img-cta {
  display: flex;
}
img {
  height: 158px;
  width: 158px;
}

.bio-info {
  font-size: 21px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
